.profile {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  &__img {
    object-fit: cover;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 5px solid transparent;
    box-shadow: 0px 8px 23px #000;
  }

  &__stats {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-100% - 100px), -50%);
    display: flex;
    align-items: center;

    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .health {
      color: #eb5353;
    }

    .attack {
      color: #ec9b3b;

      img {
        margin: 0 10px 5px 0;
        width: 40px;
        height: 40px;
      }
    }
  }

  &.profile-me {
    padding: 0 0 10px;
    background: linear-gradient(0deg, rgba(#79dae8, 0.2) 52%, rgba(0, 0, 0, 0) 100%);

    img {
      border-color: rgba(#79dae8, 0.6);
    }
  }

  &.profile-enemy {
    padding: 10px 0 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(#eb5353, 0.2) 52%);

    img {
      border-color: rgba(#eb5353, 0.6);
    }
  }
}

.mana-stat {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  color: var(--mana);
  font-weight: 900;
  font-size: 32px;

  &:before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(42, 37, 80, 1) 0%, rgba(37, 29, 58, 1) 100%);
    left: -15px;
    top: -10px;
    width: calc(100% + 30px);
    height: calc(100% + 20px);
    z-index: -1;
    transform: skew(-15deg);
  }

  img {
    margin-right: 10px;
  }
}

.power {
  width: 70px;
  height: 70px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 15px;

  img {
    width: auto;
    height: 26px;
  }
}
